{% extends "base.html" %}

{% block content %}

    <div class="layui-container" style="margin-top: 12px;">
		  	<div class="layui-row">
		    	<div class="layui-col-lg12">
        <span>当前位置：</span><span>
        <a href="/"><i class="layui-icon layui-icon-home" ></i></a></span>
    {% if data.path.0 != '' %}
        {% for each in data.path %}
            <span>/ {{ each }}</span>
        {% endfor %}
    {% endif %}
    </div>
            </div>
    </div>


    <div class="layui-container">
		  	<div class="layui-row">
		    	<div class="layui-col-lg12">
    <table class="layui-table">
{#      <colgroup>#}
{#        <col width="150">#}
{#        <col width="200">#}
{#        <col>#}
{#      </colgroup>#}
      <thead>
        <tr>
          <th style="width: 50%;">文件名</th>
          <th style="width: 20%;">修改时间</th>
          <th style="width: 15%;">文件大小</th>
            <th style="width: 15%;">操作</th>
        </tr>
      </thead>
      <tbody>
      {% if request.path != '/' %}
       <tr>
          <td><a href="{% if data.path|length > 1 %}{% for each in data.path|slice:"0:-1" %}/{{ each }}{% endfor %}{% else %}/{% endif %}" style="font-size: small"><i class="layui-icon layui-icon-prev" style="font-size: small" ></i> .. </a></td>
          <td></td>
          <td></td>
           <td></td>
        </tr>
      {% endif %}
      {% for each in  data.dirs %}
           <tr>
          <td><a href="{% if each.path != '' %}/{% endif %}{{ each.path }}/{{ each.name }}"><i class="bi bi-folder-fill" style="font-size: 1.1em;"></i> {{ each.name }}</a></td>
          <td>{{ each.time }}</td>
          <td>{{ each.size }}</td>
           <td> - </td>
        </tr>
      {% endfor %}
       {% for each in data.files %}
           <tr>
            <td><a href="{% if each.path != '' %}/{% endif %}{{ each.path }}/{{ each.name }}"><i class="bi bi-{{ each.icon }}" style="font-size: 1.1em;"></i>  {{ each.name }}</a></td>
          <td>{{ each.time }}</td>
          <td>{{ each.size }}</td>
           <td>
               <a download href="{% if each.path != '' %}/{% endif %}{{ each.path }}/{{ each.name }}"><i class="layui-icon layui-icon-download-circle" style="font-size:20px;color: #1E9FFF; margin-right: 7px;" title="下载"></i></a>
               <a href="/del?a={{ each.path }}&b={{ each.name }}" rel="external nofollow" title="删除"><i class="layui-icon layui-icon-delete" style="font-size:20px;color: #eb7350;margin-right: 7px;"></i></a>
                {% if each.name|slice:'-3:' == 'mp4' %}<a href="/play/?file_path={% if each.path != '' %}/{% endif %}{{ each.path }}/{{ each.name }}"><i class="layui-icon layui-icon-play" style="font-size:20px;color: #eb7350;"></i></a>{% endif %}
           </td>
        </tr>
      {% endfor %}

      </tbody>
    </table>
                </div>
            </div>
    </div>

  {% endblock %}
