{% extends "base.html" %}

{% block content %}
        <div class="layui-container" style="margin-top: 4em;">
		  	<div class="layui-row">
		    	<div class="layui-col-lg4 layui-col-lg-offset3 layui-col-md5 layui-col-md-offset3 layui-col-xs10"">
    <form class="layui-form " action="/login/" method="post" style="margin: 0 auto;">
         {% csrf_token %}
  <div class="layui-form-item" >
    <label class="layui-form-label">用户名</label>
    <div class="layui-input-block" style="">
      <input type="text" name="username" required  lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">密码</label>
    <div class="layui-input-block" style="">
      <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
    </div>
{#    <div class="layui-form-mid layui-word-aux">辅助文字</div>#}
  </div>

  <div class="layui-form-item" style="margin-top:1.5em;">
    <div class="layui-input-block">
      <button type="submit" class="layui-btn" lay-submit lay-filter="formDemo">提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>

{#<script>#}
{#//Demo#}
{#layui.use('form', function(){#}
{#  var form = layui.form;#}
{##}
{#  //监听提交#}
{#  form.on('submit(formDemo)', function(data){#}
{#    layer.msg(JSON.stringify(data.field));#}
{#    return false;#}
{#  });#}
{#});#}
{#</script>#}
</div>
            </div>
        </div>
{% endblock %}


{% block script %}

<script src="/static/layui/layui.js"></script>
{% if message %}<script>layer.msg("{{ message }}", {icon: 8,time:1500});</script>{% endif %}

{% endblock %}